body.login-pf {
    background: url("/cockpit/static/sotolitoLabs_original_white_distro.png") no-repeat 50% 30%;
    background-size: auto;
    background-color: #101010;
    margin-top: 25%;
    margin-bottom: -21%;
}

#badge {
    width: 225px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "${NAME} <b>${VERSION}</b>";
}


#index-brand:before {
    content: "${NAME} <b>${VERSION}</b>";
}

.navbar-pf .navbar-brand {
    padding: 5px 30px;
    background-image: url("login_logo_inv.png") ;
	background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-left: 8px !important;
    margin-top: 4px !important;
}

