[Unit]
Description=Setup Moximo on First boot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/etc/moximo/scripts/moximo-setup.sh

[Install]
WantedBy=multi-user.target
